name: libet-data
on:
  schedule:
    - cron: 0/30 * * * *
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/libet-flat.yml
      - ./pp-libet.ts
      - ./pp-libet.py
jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.x
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://datastore.elgatoylacaja.com/payloads/elnudo-libet
          downloaded_filename: libet-data.json
          postprocess: ./pp-libet.ts
